<!--suppress JSUnresolvedVariable -->
<div class="page">

  <section class="page-container page-container-no-padding card" *ngFor="let item of items">
    <header class="card-header">
      <div class="dog-info">{{session.user.displayName || 'Anonymous'}}'s {{item.kind}}</div>
      <div class="dog-name">Annie</div>
    </header>
    <section class="card-main">
      <div class="time">
        <span>{{item.date}}</span>
        <span style="margin-left: 6px">{{item.timeSlot}}</span>
      </div>
      <ul class="services">
        <li class="service">normal groom</li>
        <li class="service">normal groom</li>
      </ul>
    </section>
    <footer class="card-bottom" *ngIf="false">
      <div class="toolbar">
        <a class="item">Re-schedule</a>
        <a class="item">Cancel</a>
      </div>
    </footer>
  </section>

</div>
