<div class="page">
  <section class="page-container page-container-narrow">

    <ng-container [ngSwitch]="type">
      <ng-container *ngSwitchCase="'login'">
        <h2>Sign in</h2>
        <div class="description">Login to manage your appointments.</div>
      </ng-container>
      <ng-container *ngSwitchCase="'register'">
        <h2>Create account</h2>
        <div class="description">Register an account to book service.</div>
      </ng-container>
    </ng-container>

    <div *ngIf="notMatch"
         style="line-height: 14px; height: 14px;margin: -22px 0 8px 0; font-size: 13px; color: #e84e17;">
      Password not
      match; or account not exists.
    </div>

    <ng-container [ngSwitch]="phase.phase">

      <form *ngSwitchCase="0" class="form-control" (submit)="email.valid&&phase.next()">
        <input type="email" placeholder="someone@example.com" name="email"
               required autofocus email
               pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
               autocomplete="username"
               (keyup)="notMatch=false"
               #email="ngModel" [(ngModel)]="account.email">
        <button class="btn" type="submit" [disabled]="email.invalid">Next</button>
      </form>

      <form *ngSwitchCase="1" class="form-control" (submit)="submit().then()">
        <input type="password" placeholder="password" name="password"
               minlength="4" maxlength="20" required autofocus
               (keyup)="notMatch=false"
               [autocomplete]="type === 'login'? 'current-password': 'new-password'"
               #password="ngModel" [(ngModel)]="account.password">
        <div class="flex-row">
          <button class="btn" type="button" (click)="phase.prev()" [disabled]="submitting">Back</button>
          <button class="btn" type="submit" [disabled]="password.invalid||submitting">
            {{submitting?(type==='login'?'Signing in...': 'Signing up...'):'Submit'}}
          </button>
        </div>
      </form>

    </ng-container>

    <div *ngIf="type==='login'" class="login-page-hint" (click)="goto.register().then()"><a>No account? Get one.</a>
    </div>

  </section>
</div>
