<!--suppress JSUnresolvedVariable -->
<div class="page">
  <section class="page-container">

    <h2>Book service</h2>
    <div class="description">Make an appointment for a suitable on-site service.</div>


    <section class="group">
      <div class="group-name">Select dog</div>
      <div class="flex-row dog-list">
        <div class="dog" *ngFor="let dog of session.dogs">
          <img class="dog-image" src="" alt="">
          <div class="dog-name">dog</div>
        </div>
      </div>
      <div [hidden]="session.dogs.length!=0" class="flex-column"
           style="align-items: center; justify-content: center; height: 68px;">
        <div style="line-height: 38px; color: #888;"> No dogs recorded.</div>
        <div><a>Add a dog</a></div>
      </div>
    </section>


    <section class="group">
      <div class="group-name">Select time</div>
    </section>

    <section class="group">
      <div class="group-name">note</div>
      <input type="email" placeholder="someone@example.com">
    </section>

    <button class="btn" type="button" (click)="nextPhase()">Next</button>

  </section>
</div>
