ul.tmp li {
  font-family: "Andale Mono", serif;
  /*font-family: aktiv-grotesk, sans-serif;*/
  line-height: 24px;
  list-style: none;
  padding-left: 48px;
}

ul.tmp {
  padding: 38px 0;
  background-color: white;
}

/*
  left
*/
.logo {
  height: 100%;
  line-height: 68px;
  padding: 0 16px;
  font-family: Baskerville, serif;
  font-size: 20px;
  cursor: pointer;
  white-space: nowrap;
}

/*
  right
*/

.session-bar {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  overflow-x: auto;
}

.session-bar button {
  height: 100%;
  padding: 0 24px;
  background: none;
  border: none;
  transition: background-color 225ms;
}

.session-bar button + button {
  margin-left: 0;
}

.session-bar button:hover {
  background-color: rgba(0, 0, 0, .1);
}

.session-bar button:active {
  background-color: rgba(0, 0, 0, .2);
}
