<section hidden>
  <ul class="tmp">
    <li *ngFor="let l of links"><a [href]="l.href">{{l.text}}</a></li>
    <li><br></li>
    <li><a href="#main">MAIN BODY</a></li>
  </ul>
  <hr>
</section>
<section class="flex-row"
         style="height: 68px; border-bottom: 1px solid #ddd; justify-content: space-between; align-items: center; background-color: white;padding: 0 16px;">
  <div class="logo" (click)="goto.home().then()">
    Tom's Grooming
  </div>
  <div class="session-bar">
    <button *ngIf="!session.isLoggedIn()" (click)="goto.login().then()">login</button>
    <ng-container *ngIf="session.isLoggedIn()">
      <button (click)="goto.home().then()">Dashboard</button>
      <button (click)="goto.book().then()" *ngIf="session.role==='client'">Book a service</button>
      <button (click)="goto.profile().then()">{{session.user.email}}</button>
      <button (click)="session.logout().then()">Sign out</button>
    </ng-container>
  </div>
</section>
<router-outlet id="main"></router-outlet>
