<ng-container [ngSwitch]="session.role">
  <!-- default index-->
  <section *ngSwitchCase="'visitor'" class="flex-column">
    <section class="flex-row">
      <section style="width: 52%;"></section>
      <section style="padding: 220px 0 280px 0;">
        <div style="font-family: 'Baskerville', serif; font-size: 52px;margin-bottom: 28px; font-weight: 500">
          <div style="font-size: 1.3em">Tom's</div>
          <div>On-site Grooming</div>
        </div>
        <div style="text-decoration: underline;font-size: 28px; padding-left: 4px;cursor: pointer;">
          <a (click)="goto.login().then()">Book Now!</a>
        </div>
      </section>
    </section>
    <section style="display: flex; flex-flow: column">

    </section>
    <section style="height: 365px; background: #222;">
    </section>
  </section>
  <!-- user list -->
  <app-timeline *ngSwitchCase="'client'"></app-timeline>
  <!-- groomer list -->
  <app-timeline *ngSwitchCase="'groomer'"></app-timeline>
</ng-container>
