.dog-list {
  display: flex;
  flex-flow: row wrap;
}

.dog {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 0 12px 16px 0;
}

.dog.selected {
  transform: scale(1.05);
}

.dog-avatar {
  height: 64px;
  width: 64px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  background-color: #dddddd;
}

.dog-name {
  line-height: 16px;
  font-size: 13px;
  color: #666666;
  max-width: 96px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.dog-add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  font-size: 34px;
  cursor: pointer;
  border: 1px solid #cccccc;
  border-radius: 8px;
  color: #666666;
  opacity: .6;
}

.no-dog {
  align-items: center;
  justify-content: center;
  height: 128px;
  border: 1px dashed #cccccc;
  margin-top: 8px;
  cursor: pointer;
}

.no-dog-text {
  pointer-events: none;
  line-height: 38px;
  color: #888;
}

.no-dog-link {
  pointer-events: none;
}

.loading-text {
  line-height: 64px;
  color: #888888;
}
