<ng-container *ngIf="loaded">
  <div class="flex-row dog-list" *ngIf="dogs.length">
    <div class="dog" *ngFor="let dog of dogs" (click)="onClick(dog)"
         [class.selected]="selected==dog">
      <!--<img class="dog-image" src="" alt="">-->
      <div class="dog-avatar"></div>
      <div class="dog-name">{{dog.name || '?'}}</div>
      <!--<div class="dog-name" style="color: #666666;">{{dog.breed}}</div>-->
    </div>
    <div class="dog-add" (click)="add.emit()"><span style="margin-top: -2px">+</span></div>
  </div>
  <div *ngIf="!dogs.length" (click)="add.emit()" class="flex-column no-dog">
    <div class="no-dog-text"> No dogs recorded.</div>
    <div class="no-dog-link"><a>Add a dog</a></div>
  </div>
</ng-container>
<ng-container *ngIf="!loaded">
  <div class="loading-text">loading...</div>
</ng-container>
